<div class="today__tempr-container js-today__tempr-container">
    <img class="tempr__icon" src="{{icon}}" alt="{{iconDescription}}">
    <p class="tempr__inCiti">{{city}}, {{countryCode}}</p>
    <div class="tempr__degrees-container">
        <p class="tempr__degrees">{{temp}}&deg</p>
        <ul class="degrees__list">
            <li class="degrees__item">
                <p class="degrees__item-deskr">min</p>
                <p class="degrees__item-deg">{{tempMin}} &deg</p>
            </li>
            <li class="degree__item-line"></li>
            <li class="degrees__item">
                <p class="degrees__item-deskr">max</p>
                <p class="degrees__item-deg">{{tempMax}} &deg</p>
            </li>
        </ul>
    </div>
</div>